@page
@model ErrorModel
@{

}

@section Subheader {
    <div class="flex items-center gap-3">
        <span class="icon-[streamline-sharp--browser-error-404-remix] text-3xl"></span>
        <span class="font-semibold">Error</span>
    </div>
}

The page you are looking for was not found. 