@page
@model IndexModel

@section Subheader {
                        Web Resume
}


<main class="px-6 py-12">
    <h1 class="text-5xl md:text-7xl font-bold text-center">
        Hello, I'm <span class="text-info">Thomas Mack</span>
    </h1>
    <p class="mt-6 text-center text-lg text-base-content/60 max-w-3xl mx-auto">
        I am a self-taught DevOps engineer with experience spanning tech support, platform administration, software development, and infrastructure automation. Worked across education, SaaS, and blockchain industries, focusing on Kubernetes, system integration, and automation using tools like Ansible, Helm, and GitOps workflows.
    </p>
    <div class="mt-8 text-center">
        <a href="~/files/thomasmack_resume.pdf" download class="btn btn-info btn-lg rounded-full px-8 border border-info !font-normal">
            <span class="icon-[fa-solid--download] mr-2"></span>
            Download my resume
        </a>
    </div>


    <div class="mt-8 text-center">
        <p class="text-sm uppercase text-white tracking-widest">FOLLOW ME</p>

        <div class="flex justify-center space-x-6 mt-4">
            <a href="https://github.com/mackcoding" target="_blank" rel="noopener noreferrer">
                <span class="icon-[fa-brands--github] text-2xl"></span>
            </a>
            <a href="https://linkedin.com/in/mackt" target="_blank" rel="noopener noreferrer">
                <span class="icon-[fa-brands--linkedin] text-2xl"></span>
            </a>
            <a href="https://bsky.app/mackhax0r.bsky.social" target="_blank" rel="noopener noreferrer">
                <span class="icon-[simple-icons--bluesky] text-2xl"></span>
            </a>
            <a href="/contact" target="_blank" rel="noopener noreferrer">
                <span class="icon-[streamline--send-email] text-2xl"></span>
            </a>
        </div>
    </div>
    <div class="py-[60px]">
        <hr />
    </div>
    <h2 class="text-3xl font-semibold text-center">Technical Skills</h2>
    <div class="max-w-6xl mx-auto flex flex-wrap justify-center gap-2 mt-6">
        <div class="badge bg-base-200 border border-base-content/20 badge-sm">
            <span class="icon-[uil--linux] mr-1"></span>Sidero Talos & Omni
        </div>
        <div class="badge bg-base-200 border border-base-content/20 badge-sm">
            <span class="icon-[fa-solid--server] mr-1"></span>Proxmox
        </div>
        <div class="badge bg-base-200 border border-base-content/20 badge-sm">
            <span class="icon-[simple-icons--docker] mr-1"></span>Docker
        </div>
        <div class="badge bg-base-200 border border-base-content/20 badge-sm">
            <span class="icon-[simple-icons--kubernetes] mr-1"></span>Kubernetes
        </div>
        <div class="badge bg-base-200 border border-base-content/20 badge-sm">
            <span class="icon-[simple-icons--dotnet] mr-1"></span>.NET
        </div>
        <div class="badge bg-base-200 border border-base-content/20 badge-sm">
            <span class="icon-[simple-icons--go] mr-1"></span>Go
        </div>
        <div class="badge bg-base-200 border border-base-content/20 badge-sm">
            <span class="icon-[devicon-plain--bash] mr-1"></span>Bash
        </div>
        <div class="badge bg-base-200 border border-base-content/20 badge-sm">
            <span class="icon-[simple-icons--python] mr-1"></span>Python
        </div>
        <div class="badge bg-base-200 border border-base-content/20 badge-sm">
            <span class="icon-[simple-icons--javascript] mr-1"></span>JavaScript
        </div>
        <div class="badge bg-base-200 border border-base-content/20 badge-sm">
            <span class="icon-[simple-icons--html5] mr-1"></span>HTML/CSS/SCSS
        </div>
        <div class="badge bg-base-200 border border-base-content/20 badge-sm">
            <span class="icon-[simple-icons--flux] mr-1"></span>Flux
        </div>
        <div class="badge bg-base-200 border border-base-content/20 badge-sm">
            <span class="icon-[simple-icons--argo] mr-1"></span>ArgoCD
        </div>
        <div class="badge bg-base-200 border border-base-content/20 badge-sm">
            <span class="icon-[simple-icons--terraform] mr-1"></span>Terraform
        </div>
        <div class="badge bg-base-200 border border-base-content/20 badge-sm">
            <span class="icon-[simple-icons--ansible] mr-1"></span>Ansible
        </div>
        <div class="badge bg-base-200 border border-base-content/20 badge-sm">
            <span class="icon-[simple-icons--helm] mr-1"></span>Helm
        </div>
        <div class="badge bg-base-200 border border-base-content/20 badge-sm">
            <span class="icon-[simple-icons--git] mr-1"></span>Git
        </div>
        <div class="badge bg-base-200 border border-base-content/20 badge-sm">
            <span class="icon-[simple-icons--nginx] mr-1"></span>NGINX
        </div>
        <div class="badge bg-base-200 border border-base-content/20 badge-sm">
            <span class="icon-[simple-icons--apache] mr-1"></span>Apache
        </div>
        <div class="badge bg-base-200 border border-base-content/20 badge-sm">
            <span class="icon-[simple-icons--postgresql] mr-1"></span>PostgreSQL
        </div>
        <div class="badge bg-base-200 border border-base-content/20 badge-sm">
            <span class="icon-[simple-icons--mariadb] mr-1"></span>MariaDB/MySQL
        </div>
        <div class="badge bg-base-200 border border-base-content/20 badge-sm">
            <span class="icon-[simple-icons--microsoftsqlserver] mr-1"></span>Microsoft SQL Server
        </div>
        <div class="badge bg-base-200 border border-base-content/20 badge-sm">
            <span class="icon-[simple-icons--redis] mr-1"></span>Redis
        </div>
        <div class="badge bg-base-200 border border-base-content/20 badge-sm">
            <span class="icon-[simple-icons--prometheus] mr-1"></span>Prometheus
        </div>
        <div class="badge bg-base-200 border border-base-content/20 badge-sm">
            <span class="icon-[simple-icons--grafana] mr-1"></span>Grafana
        </div>
        <div class="badge bg-base-200 border border-base-content/20 badge-sm">
            <span class="icon-[iconoir--dns] mr-1"></span>PowerDNS
        </div>
        <div class="badge bg-base-200 border border-base-content/20 badge-sm">
            <span class="icon-[iconoir--dns] mr-1"></span>Microsoft DNS
        </div>
        <div class="badge bg-base-200 border border-base-content/20 badge-sm">
            <span class="icon-[fa-brands--google] mr-1"></span>Google Workspace
        </div>
        <div class="badge bg-base-200 border border-base-content/20 badge-sm">
            <span class="icon-[simple-icons--amazonaws] mr-1"></span>Route53
        </div>
        <div class="badge bg-base-200 border border-base-content/20 badge-sm">
            <span class="icon-[simple-icons--amazoncloudwatch] mr-1"></span>CloudWatch
        </div>
        <div class="badge bg-base-200 border border-base-content/20 badge-sm">
            <span class="icon-[simple-icons--amazonecs] mr-1"></span>ECS
        </div>
        <div class="badge bg-base-200 border border-base-content/20 badge-sm">
            <span class="icon-[simple-icons--awslambda] mr-1"></span>Lambda
        </div>
        <div class="badge bg-base-200 border border-base-content/20 badge-sm">
            <span class="icon-[fa-solid--terminal] mr-1"></span>k9s
        </div>
        <div class="badge bg-base-200 border border-base-content/20 badge-sm">
            <span class="icon-[ic--sharp-groups-2] mr-1"></span>Active Directory
        </div>
        <div class="badge bg-base-200 border border-base-content/20 badge-sm">
            <span class="icon-[fa-solid--lock] mr-1"></span>Authentik
        </div>
        <div class="badge bg-base-200 border border-base-content/20 badge-sm">
            <span class="icon-[streamline--bug-antivirus-debugging] mr-1"></span>Securly
        </div>
        <div class="badge bg-base-200 border border-base-content/20 badge-sm">
            <span class="icon-[si--dashboard-vert-fill] mr-1"></span>IncidentIQ
        </div>
        <div class="badge bg-base-200 border border-base-content/20 badge-sm">
            <span class="icon-[fa-solid--graduation-cap] mr-1"></span>Clever
        </div>
        <div class="badge bg-base-200 border border-base-content/20 badge-sm">
            <span class="icon-[healthicons--i-groups-perspective-crowd] mr-1"></span>ClassLink
        </div>
        <div class="badge bg-base-200 border border-base-content/20 badge-sm">
            <span class="icon-[si--shield-duotone] mr-1"></span>GoGuardian
        </div>


    </div>
    <div class="py-[60px]">
        <hr />
    </div>

    <h2 class="text-3xl font-semibold text-center">WORK EXPERIENCE</h2>



    <div class="mt-6 grid grid-cols-1 md:grid-cols-2 gap-6">

        <div class="border border-base-content/20 bg-base-200 rounded-2xl shadow-lg p-6">
            <div class="flex justify-between items-center mb-1">
                <div class="font-bold text-lg">Crypto Company</div>
                <span class="badge badge-dash badge-info badge-sm">DevOps Engineer</span>
            </div>
            <div class="mb-4">
                <span class="badge badge-dash badge-error badge-sm">May 2024 – June 2025</span>
            </div>
            <p class="mb-2">Operated and automated deployments across 50+ bare‑metal servers and Talos‑based Kubernetes clusters using Ansible and Helm, supporting blockchain networks and contributing to open‑source infrastructure projects.</p>
            <ul class="list-disc ml-6 space-y-1">
                <li>Automated deployments across SEI, NEAR, Aptos, Avalanche subnets, MayaChain, and THORChain</li>
                <li>Managed 50+ bare‑metal servers in a self‑hosted infrastructure</li>
                <li>Built Kubernetes clusters with Sidero Talos Linux and Sidero Omni</li>
                <li>Provisioned containerized apps on Kubernetes and Proxmox via Ansible, Helm, CI pipelines</li>
                <li>Executed manual testnet setups to evaluate blockchain node architecture</li>
                <li>Authored Ansible roles to scale and manage validator nodes</li>
                <li>Collaborated with validator operators via Discord and Slack</li>
                <li>Contributed to open‑source Ansible roles, Helm charts, and Go code</li>
                <li>Debugged networking, routing, load‑balancing, and infra issues end‑to‑end</li>
            </ul>
        </div>

        <div class="border border-base-content/20 bg-base-200 rounded-2xl shadow-lg p-6">
            <div class="flex justify-between items-center mb-1">
                <div class="font-bold text-lg">Software Solutions Company</div>
                <span class="badge badge-dash badge-info badge-sm">Software Developer</span>
            </div>
            <div class="mb-4">
                <span class="badge badge-dash badge-error badge-sm">Sep t 2023 – Present</span>
            </div>
            <p class="mb-2">Engineered a high‑performance, multi‑threaded C# tool to automate migration of 50+ Jira instances, enabling an Agile transformation within 90 days.</p>
            <ul class="list-disc ml-6 space-y-1">
                <li>Built async C# console app with PostgreSQL backend for Jira data migration</li>
                <li>Migrated 50+ Jira projects end‑to‑end with zero/minimal downtime</li>
                <li>Authored user‑focused docs for adoption, usage, and maintenance</li>
                <li>Partnered with stakeholders to define requirements and integrate feedback</li>
                <li>Provided ongoing tech support, boosting team migration proficiency</li>
            </ul>
        </div>

        <div class="border border-base-content/20 bg-base-200 rounded-2xl shadow-lg p-6">
            <div class="flex justify-between items-center mb-1">
                <div class="font-bold text-lg">Healthcare SaaS Company</div>
                <span class="badge badge-dash badge-info badge-sm">DevOps Engineer</span>
            </div>
            <div class="mb-4">
                <span class="badge badge-dash badge-error badge-sm">Nov 2021 – Dec 2022</span>
            </div>
            <p class="mb-2">SaaS infrastructure engineer focused on HIPAA‑compliant AWS architectures, encrypted backups, security hardening, and high‑availability.</p>
            <ul class="list-disc ml-6 space-y-1">
                <li>Designed five‑nines HIPAA‑compliant infra on AWS ECS, CloudWatch, RabbitMQ, PostgreSQL, IAM</li>
                <li>Built custom automated, encrypted backup solution</li>
                <li>Automated logging, storage, backup, and security hardening</li>
                <li>Researched and implemented AWS cost‑saving measures</li>
                <li>Delivered ad‑hoc support to the dev team</li>
            </ul>
        </div>

        <div class="border border-base-content/20 bg-base-200 rounded-2xl shadow-lg p-6">
            <div class="flex justify-between items-center mb-1">
                <div class="font-bold text-lg">School District</div>
                <span class="badge badge-dash badge-info badge-sm">Programmer / System Administrator</span>
            </div>
            <div class="mb-4">
                <span class="badge badge-dash badge-error badge-sm">Aug 2015 – Nov 2021</span>
            </div>
            <p class="mb-2">Implemented code‑driven automation for district IT operations, improving security, integration, and consistency.</p>
            <ul class="list-disc ml-6 space-y-1">
                <li>Developed tools to reduce costs and streamline operations</li>
                <li>Built a real‑time pandemic monitoring dashboard</li>
                <li>Engineered ASP.NET badge system for secure ID management</li>
                <li>Created apps for digital signage and bus route logistics</li>
                <li>Standardized Google Workspace and AD OUs for simplified admin</li>
                <li>Automated user/device cleanup, SSO sync, and data validation</li>
                <li>Provided level‑2/3 support for networking, servers, and apps</li>
            </ul>
        </div>

        <div class="border border-base-content/20 bg-base-200 rounded-2xl shadow-lg p-6">
            <div class="flex justify-between items-center mb-1">
                <div class="font-bold text-lg">Webhosting Company</div>
                <span class="badge badge-dash badge-info badge-sm">Platform Administrator</span>
            </div>
            <div class="mb-4">
                <span class="badge badge-dash badge-error badge-sm">Apr 2012 – Feb 2015</span>
            </div>
            <p class="mb-2">Progressed from support rep to platform admin, leading migrations, automations, and VIP support for high availability.</p>
            <ul class="list-disc ml-6 space-y-1">
                <li>Migrated 600+ bare‑metal servers to VMware virtual clusters</li>
                <li>Administered 600+ Linux/Windows servers for uptime & capacity</li>
                <li>Led on‑call rotations and after‑hours VIP escalations</li>
                <li>Performed root‑cause analysis for performance & software issues</li>
                <li>Guided teams through legacy migrations and admin projects</li>
                <li>Handled late‑hour VIP support calls to maintain SLAs</li>
            </ul>
        </div>

    </div>




</main>
